/* MOBILE-------------------------------------------------------------------------------- */

/*--------------------Header------------------------*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #fff;
    margin-bottom: 10%;
}

.header-title {
    background-color: #fce598;
    color: #fffef2;
    display: flex;
    justify-content: center;
    padding: 8% 0 28%;
    border-radius: 0 0 35% 35%;
}

.header-title > h1 {
    width: 70%;
    text-align: center;
}

.header > img {
    width: 50%;
    margin-top: -19%;
}

.header-cta {
    margin-top: 8%;
    background-color: #fce598;
    color: #fffef2;
    border: 1px solid #fce598;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

/*--------------------About Us------------------------*/
.about-us{
    background-color: #fefcf4;
    padding: 15% 5% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us > h2 {
    text-align: center;
    margin: 5% 0 2%;
    font-size: 2rem;
}

.title-decoration{
    width: 60px;
    height: 10px;
    background-color: #e6a85c;
    margin-bottom: 20%;
}

.about-us-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-tiles > div {
    background-color: #fff;
    width: 60%;
    padding: 8% 8% 5%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 35px 0;
    box-shadow: -1px 1px 3px lightgrey;
}

.about-us-icon{
    font-size: 3.5rem;
    margin-bottom: 5%;
    color: #e6a85c;
}

.about-us-text{
    font-size: 1.2rem;
    text-align: center;
}

/*--------------------Popular Products------------------------*/
.popular-products{
    padding: 15% 0 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-products > h2 {
    text-align: center;
    margin: 5% 0 2%;
    font-size: 2rem;
}

.product-tile-list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* DESKTOP------------------------------------------------------------------------------- */

@media (min-width: 450px) {

    /*--------------------Header------------------------*/
    .header{
        border-top: 1px solid #fff;
        margin-bottom: 4%;
    }
    
    .header-title{
        width: 100%;
        padding: 1% 0 15%;
        order:-2;
        border-radius: 0 0 40% 40%;
    }

    .header-title > h1 {
        font-size: 3rem;;
    }

    .header > img {
        width: 25%;
        margin-top: 5%;
    }

    .header-cta {
        margin-top: -15%;
        order: -1;
        background-color: #fce598;
        color: #fffef2;
        border: 2px solid #fffef2;
        font-size: 1.3rem;
    }

    /*--------------------About Us------------------------*/
    .about-us{
        padding: 4% 6%;
    }

    .about-us > h2 {
        margin: 0 0 1%;
    }

    .title-decoration{
        width: 70px;
        margin-bottom: 5%;
    }

    .about-us-tiles {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    .about-us-tiles > div {
        width: 20%;
        padding: 2%;
        margin-bottom: 0;
        margin-right: 2%;
    }

    .about-us-icon{
        font-size: 3rem;
    }

    .about-us-text{
        font-size: 1rem;
    }

    /*--------------------Popular Products------------------------*/
    .popular-products{
        padding: 4% 6%;
    }

    .popular-products > h2 {
        margin: 0 0 1%;
    }

    .product-tile-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

}