/* FONTS-------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* GENERAL-------------------------------------------------------------------------------- */
html, body, main {
    height: 100%;
}

/* MOBILE-------------------------------------------------------------------------------- */

/*--------------------Navigation------------------------*/
.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    font-size: 1.6rem;
    background-color: #718e3f;
    color: #fffef2;
}

.navigation > h3 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.navigation-desktop  {
    display: none;
}



/* DESKTOP------------------------------------------------------------------------------- */

@media (min-width: 450px) {
.navigation{
    padding: 1% 3%;
}

.navigation-mobile {
    display: none;
}

.navigation-desktop {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

.navigation-desktop > div {
    display:flex;
    font-size: 1.3rem;
}

.navigation-desktop > div > p:first-child {
    margin-right: 25%;
}

.navigation-desktop-search{
    display:flex;
    align-items: center;
}

.navigation-desktop-search > input {
    margin-left: 5%;
    border-radius: 5px;
    padding: 2%;
}
}