/* MOBILE-------------------------------------------------------------------------------- */

/*--------------------Product List------------------------*/
.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*--------------------Searchbar------------------------*/
.product-list > input{
    width: 90%;
    border-radius: 25px;
    padding: 2%;
    margin: 8% 0;
    font-size: 1.2rem;
}


/* DESKTOP-------------------------------------------------------------------------------- */
@media (min-width: 450px) {
    /*--------------------Product List------------------------*/
    .product-list{
        margin-bottom: 10%;
    }

    /*--------------------Searchbar------------------------*/
    .product-list > input{
        width: 86%;
        padding: 1%;
        margin: 5% 0 3%;
        font-size: 1.2rem;
    }
}