/* MOBILE-------------------------------------------------------------------------------- */

/*--------------------Product List------------------------*/
.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*--------------------Searchbar------------------------*/
input{
    width: 90%;
    border-radius: 25px;
    padding: 2%;
    margin: 8% 0;
    font-size: 1.2rem;
}

/*--------------------Product Tile------------------------*/
.product-tile{
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
}

/* DESKTOP-------------------------------------------------------------------------------- */
@media (min-width: 450px) {
    /*--------------------Product List------------------------*/
    .product-list{
        margin-bottom: 10%;
    }

    /*--------------------Searchbar------------------------*/
    input{
        width: 90%;
        padding: 1%;
        margin: 5% 0 3%;
        font-size: 1.2rem;
    }

    /*--------------------Product Tile------------------------*/
    .product-tile{
        width: 20%;
        margin-bottom: 2%;
}
}